<div class="row">
  <div class="col s12">
    <form>

      <div class="row">
          <div class="input-field col s4">
              <input placeholder="Name" id="name" name="name" type="text" class="validate">
              <label for="first_name">Name</label>
            </div>
            <div class="input-field col s4">
                <input placeholder="Amount" id="amount" name="amount" type="text" class="validate">
                <label for="first_name">Amount</label>
            </div>
            <div class="input-field col s2">
                <button class="waves-effect waves-light btn" type="submit">ADD</button>
            </div>
            <div class="input-field col s2">
                <button class="waves-effect waves-light btn" type="button">DELETE</button>
            </div>

      </div>

    </form>
  </div>
</div>
